.task-div {
  display: flex;
  align-items: center;
  width: auto;
}
.delete {
  margin: 0 10px;
  color: darkgray;
}
.delete:hover {
  color: orange;
  cursor: pointer;
}
.edit {
  margin: 0 15px;
  color: darkgray;
}
.edit:hover {
  color: orange;
  cursor: pointer;
}
.task {
  display: flex;
  align-items: center;
}
.task-input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid orange;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.task-input:checked {
  width: 20px;
  height: 20px;
  background: orange;
  border-radius: 10px;
  color: white;
  border: 1px solid orange;
}

.task-input:checked::after {
  content: '\2713';
}
.task-input:hover {
  border: 1px solid orange;
  cursor: pointer;
}

/* content: '\2713' - простое обозначение галочки в css; - рабюотает с Before ::after */

.task-desc {
  padding-left: 10px;
}

.changeForm {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}
.changeForm_input {
  outline: none;
  border: 1px solid darkgrey;
  border-radius: 4px;
  height: 27px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 10px;
}

.change-task-button {
  margin-top: 10px;
  color: white;
  width: 170px;
  height: 30px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 3px;
}
