.calendar-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  height: 60px;
  flex: 0 0 50px;
  margin: 0 10px;
  margin-bottom: 10px;
}
.calendar-day:first-child {
  margin: 0;
}

.calendar-day:hover {
  border: 1px solid orange;
}

.calendar-day-active {
  color: white;
  background-color: black;
  border: 1px solid black;
}
.calendar-day:active {
  color: white;
  background-color: orange;
  border: 1px solid orange;
}
.dot {
  margin: 20px 10px 0;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
}
.second-dot {
  margin: 20px 10px 0;

  width: 5px;
  height: 5px;
  background-color: orange;
  border-radius: 10px;
}
.show-dots {
  display: flex;
}
.day {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
